body
    /* {background-color: cyan;} */

#welcome
{
    text-align:center;
    font-size: 1.5em;
}

#welcome figure
    {
        cursor:pointer;
        display:inline-flex;
        background-image: url(resources/pic.jpg);
        background-size:220%;
        background-position: 35% 20%;
        height: 200px;
        width: 200px; 
        overflow:hidden;
        border-radius: 100%;
    }

/* #welcome figcaption:hover
    {
        background-color: hsl(0, 0%, 0%, 1);
        content:none;  
    } */

#welcome figcaption
    {
        display:inline-flex;
        height:100%;
        width:100%;
        margin: auto;
        /* background-color: hsl(0, 0%, 0%, 1); */
    }

#welcome h2
    {
        margin:auto;
        color:black;  
        text-shadow:-1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;      
    }





