*{border: 2px solid red;}

#frame
    {border: 15px solid rgb(130, 169, 21);
    margin:0px;
    padding:0px;}

body
    {
        background-color: rgb(255, 255, 152);
        margin:0;
    }

/*INTRO....................*/

#welcome
{
    text-align:center;
    font-size: 2.5em;
    border:10px inset rgb(96, 128, 0);
}

#welcome figure
    {
        cursor:pointer;
        display:inline-flex;
        background-image: url(resources/pic.jpg);
        background-size:220%;
        background-position: 35% 20%;
        height: 200px;
        width: 200px; 
        overflow:hidden;
        border-radius: 100%;
        box-shadow: 5px 5px 5px, -5px 5px 5px yellowgreen, 5px -5px 5px yellowgreen, -5px -5px 5px yellow;
    }

#welcome figcaption:hover
    {
        background-color: hsl(0, 0%, 100%, .3);
          
    } 

#welcome figcaption
    {
        display:inline-flex;
        height:100%;
        width:100%;
        margin: auto;
        background-color: hsl(0, 0%, 0%, .4);
    }

#welcome h2
    {
        margin:auto;
        color: rgb(255, 255, 255);  
        text-shadow:-1px -1px 1.5px gold, 1px -1px 1.5px gold, -1px 1px 1.5px , 1px 1px 1.5px white;      
    }

/*FRONT PAGE...........*/

#front-page
    {visibility:hidden;}

header
    {
        display:flex;
        justify-content:space-around;
    }

nav
    {
        display:inline-flex;
        flex-wrap: wrap;
        margin:0;
    }

ul
    {
        display:flex;
        list-style:none;
        margin:0;
        max-width:100px;
        flex-wrap: wrap;
    }

li
    {
        display:flex;
        margin:auto;
    }  

/* #grid
    {
        display: grid;
        grid-template-columns:2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
            'main '
            'foot foot';

    }

header h1
    {
        grid-area: name;
        background-color: blue;
    }

nav ul
    {
        list-style:none;
        grid-area: nav;
    }

main
    {
        grid-area: main;
    }

footer
    {
        grid-area: foot;
    }

header
    {
        display:inline-flex
        grid-area: header;
    } */